<ion-header>
  <ion-toolbar>
    <ion-title>Application Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Option 1</ion-label>
    <ion-toggle [(ngModel)]="preferences.option1" (ionChange)="onPreferenceChange()"></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label>Option 2</ion-label>
    <ion-toggle [(ngModel)]="preferences.option2" (ionChange)="onPreferenceChange()"></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label>Option 3</ion-label>
    <ion-toggle [(ngModel)]="preferences.option3" (ionChange)="onPreferenceChange()"></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label>Range Value: {{ preferences.rangeValue }}</ion-label>
    <ion-range [(ngModel)]="preferences.rangeValue" min="0" max="100" (ionChange)="onPreferenceChange()">
      <ion-label slot="start">0</ion-label>
      <ion-label slot="end">100</ion-label>
    </ion-range>
  </ion-item>

  <ion-item>
    <ion-checkbox [(ngModel)]="preferences.checkbox1" (ionChange)="onPreferenceChange()"></ion-checkbox>
    <ion-label>Checkbox 1</ion-label>
  </ion-item>

  <ion-item>
    <ion-checkbox [(ngModel)]="preferences.checkbox2" (ionChange)="onPreferenceChange()"></ion-checkbox>
    <ion-label>Checkbox 2</ion-label>
  </ion-item>

  <ion-item>
    <ion-checkbox [(ngModel)]="preferences.checkbox3" (ionChange)="onPreferenceChange()"></ion-checkbox>
    <ion-label>Checkbox 3</ion-label>
  </ion-item>

  <ion-radio-group (ionChange)="onPreferenceChange()">
    <ion-item>
      <ion-radio [(ngModel)]="preferences.radio1" name="radio" value="radio1"></ion-radio>
      <ion-label>Radio Option 1</ion-label>
    </ion-item>
    <ion-item>
      <ion-radio [(ngModel)]="preferences.radio2" name="radio" value="radio2"></ion-radio>
      <ion-label>Radio Option 2</ion-label>
    </ion-item>
  </ion-radio-group>

  <ion-button (click)="resetPreferences()">Reset All Settings</ion-button>
</ion-content>
